/*
** Convencion para aplicar estilos **
1- Posicionamiento - ej: position.
2- Modelo de cajas o "Box model" - ej: margin, padding, border, etc.
3- Tipografia
4- Visuales - box-shadow, gradient, border-radius, etc.
5- Otros
*/

:root{
  /* COLORS */
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --white: #FFFFFF;
  /* END COLORS */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM sans', sans-serif;

  scroll-behavior: smooth;
}

.header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header__logo{
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__text-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  align-self: center;  
}
.header__text-container h1{
  color: var(--white);
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;  
}
.header__text-container p{
  margin-top: 24px;;
  color: var(--soft-orange);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.header__button{  
  display: block;
  position: absolute;
  left: calc(50% - 115px);
  top: 270px;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.button__icon{
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
}
.icon__arrow--down{
  background-image: url("../assets/icons/down-arrow.svg");
}
/*
  End header
**************/

/**************
  Intercambio 
***************/
.main__content{
  min-width: 320px;
  width: 100%;
  background-color: #E5E5E5;
}

.main__excahnge-container{
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main__exchange-img{
  width: 192px;
  height: 192px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.main__exchange-img img{
  width: 100%;
}

.main__exchange-text{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main__exchange-text h2{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main__exchange-text p{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--grey);
}

.main__tables-container{
  width: 70%;
  min-width: 224px;
  max-width: 500px;
  /*
    height 
      debe tener el valor de 500px, 
      pero por motivos practicos lo dejo en auto
   */
  height: auto;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.table__title{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  text-align: left;
  padding-left: 25px;
}
.title--currency{
  color: var(--bitcoin-orange);
}

.title--commissions{
  color: var(--secondary-blue);
}

.table__table-container{
  width: 90%;
  min-width: 192px;
  max-width: 300px;
  height: 165px;
  margin: 0 auto 16px auto;
}
.table__table-container td{
  width: 50%;
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  text-align: left;
  color: var(--grey);
  background-color: var(--white);
}

.table__top-left{
  border-top-left-radius: 8px;
}
.table__top-right{
  border-top-right-radius: 8px;
}
.table__bottom-left{
  border-bottom-left-radius: 8px;
}
.table__bottom-right{
  border-bottom-right-radius: 8px;  
}

.table__table-container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color:#757575;
  text-align: center;
  padding-right: 16px;
}
.icon{
  width: 12px;
  position: relative;
  left: 10px;
  top: 3px;
}

.table__footer {
  width: 80%;
  min-width: max-content;
  max-width: 200px;
  padding: 8px;
  margin: 0 auto;

  color: var(--warm-black);
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5rem;
  
  border-radius: 6px;
}
.footer--currency{
  background-color: var(--soft-orange);
}
.footer--commissions{
  background-color: var(--soft-blue);
}

/* * * * * * * * * * * * * 
 *     PRODUCT DETAIL    *
 * * * * * * * * * * * * */
.main__product-detail{
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 30px 10px;
  background-color: var(--warm-black);  
  position: relative;

  font-family:'DM sans', sans-serif;

  /*temp*/
  margin-top: 50px;
}

.product-detail__batata-logo{
  width: 40px;
  height: 25px;
  position: absolute;
  top: calc(0% - 25px/2);
  left: calc(50% - 40px/2);  
}
.product-detail__batata-logo img{
  width: 100%;
}

.product-detail__text-content{
  width: 90%;
  height: auto;
  margin: 0 auto;

  text-align: center;
}
.product-detail__text-content h2{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
  margin-bottom: 24px;
}
.product-detail__text-content p{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #808080;
  margin-bottom: 25px;
}

.product-detail-card{
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 152px;
  margin: 16px auto;
  padding: 16px;  
  border-radius: 4px;
  background-color: var(--black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.card__icon{
  width: 20px;
  height: 20px;
  margin-bottom: 14px;
}
.card__icon img{
  width: 100%;
}
.card__title{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--white);
  margin-bottom: 10px;
}
.card__text{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/* * * * * * * * * * * * * 
 *      Bitcoin img      *
 * * * * * * * * * * * * */
.main__bitcoin-img-container{
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url("../assets/images/bitcoinbaby2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__bitcoin-img-container h2{
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--white);

  padding-top: 64px;
}

/* * * * * * * * * * * * * 
 *        PLANES         *
 * * * * * * * * * * * * */
.main__plan-cotainer{
  width: 100%;
  min-width: 320px;   
  padding-top: 64px;
}

.plan__tex-content{
  width: 90%;
  min-width: 288px;
  margin: 0 auto 34px;
  text-align: center; 
}
.plan__tex-content h2{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 24px;
}
.plan__tex-content p{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}







/* * * * * * * * * * * * * 
 *          TEMP         *
 * * * * * * * * * * * * */
.DISPLAY--------NONE{
  display: none;
}