/*
** Convencion para aplicar estilos **
1- Posicionamiento - ej: position.
2- Modelo de cajas o "Box model" - ej: margin, padding, border, etc.
3- Tipografia
4- Visuales - box-shadow, gradient, border-radius, etc.
5- Otros
*/

:root{
  /* COLORS */
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --white: #FFFFFF;
  /* END COLORS */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM sans', sans-serif;
}

.header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header__logo{
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__text-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  align-self: center;  
}
.header__text-container h1{
  color: var(--white);
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;  
}
.header__text-container p{
  margin-top: 24px;;
  color: var(--soft-orange);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.header__button{  
  display: block;
  position: absolute;
  left: calc(50% - 115px);
  top: 270px;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.button__icon{
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
}
.icon__arrow--down{
  background-image: url("../assets/icons/down-arrow.svg");
}
/*
  End header
**************/

/**************
  Intercambio 
***************/
.main__content{
  min-width: 320px;
  width: 100%;
  background-color: var(--off-white);
}
.main__excahnge-container{
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

/* IMG */

.main__exchange-text{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
